body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .toolbar {
    --background: #84e9bd;
    --color: #000000;
    font-weight: bold;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  }
  
  .content {
    --background: #121212;
    padding: 20px;
  }
  
  .form-card {
    padding: 30px;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
  }
  
  .form-card:hover {
    transform: translateY(-5px);
  }
  
  ion-item {
    --background: transparent;
    margin-bottom: 15px;
  }
  
  ion-label {
    color: #84e9bd;
    font-weight: 500;
  }
  
  ion-input {
    color: #059179;
    --border-color: #84e9bd;
    --border-width: 2px;
    border-radius: 8px;
  }
  
  ion-input::placeholder {
    color: rgba(255, 255, 255, 0.7);
  }
  
  .submit-button {
    margin-top: 20px;
    background: #84e9bd;
    color: #000000;
    font-weight: bold;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  .submit-button:hover {
    background: #6dd9a2; /* cor mais escura ao passar o mouse */
    transform: scale(1.05);
  }
  
  .submit-button:active {
    transform: scale(0.95);
  }
  