<ion-header [translucent]="true">
  <ion-toolbar style="--background: #84e9bd; --color: #000000; font-weight: bold;">
    <ion-title>
      Exploraê
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="--background: #121212;">
  <ion-header collapse="condense">
    <ion-toolbar style="--background: #84e9bd; --color: #000000; font-weight: bold;">
      <ion-title size="large">Exploraê</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row justify-content-center>
      <ion-col size="12" size-md="10" size-lg="8">
        <!-- Campo de pesquisa -->
        <ion-item>
          <ion-searchbar placeholder="Onde você gostaria de ir?"></ion-searchbar>
        </ion-item>
      </ion-col>
    </ion-row>

    <!-- Card com imagem -->
    <ion-row justify-content-center>
      <ion-col size="12" size-md="10" size-lg="8">
        <ion-card>
          <img alt="Pão de Açúcar" src="assets/Bondinho-do-Pao-de-Acucar-rio.webp" />
          <ion-card-header>
            <ion-card-title>A mais famosa atração turística o Pão de Açúcar</ion-card-title>
            <ion-card-subtitle>O morro mais famoso do Brasil</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            Conhecido mundialmente, o Pão de Açúcar está localizado na cidade do Rio de Janeiro. É um complexo de morros que são compostos pelo Morro da Babilônia, Morro da Urca e Pão de Açúcar, margeados pelas águas da Baía de Guanabara.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
