<ion-header>
  <ion-toolbar style="--background: #84E9BD;">
    <ion-title><strong>Exploraê</strong></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <body> 
  <div class="full-screen">

   
    <div class="top-section">

     
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button expand="block" class="custom-button">Hotéis</ion-button>
          </ion-col>
          <ion-col>
            <ion-button expand="block" class="custom-button">O que fazer</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button expand="block" class="custom-button">Restaurantes</ion-button>
          </ion-col>
          <ion-col>
            <ion-button expand="block" class="custom-button">Fóruns</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

    </div>

  </div>

  <ion-card style="background-color: black;">
    <img alt="Pão de Açúcar" src="../assets\Pao-de-Acucar-Brazil-1.jpg" />
    <ion-card-header>
      <ion-card-title style="color: antiquewhite;"><b>Pão de Açúcar</b></ion-card-title>
      <ion-card-subtitle style="color: antiquewhite;"><b><i>Cartão Postal do Rio de Janeiro</i></b></ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content style="color: antiquewhite;">
      O Pão de Açúcar é um dos principais cartões-postais<br> do Rio de Janeiro, com 396 metros de altura e vistas<br> deslumbrantes da cidade e da Baía de Guanabara.<br> A atração é acessível por teleférico (bondinho),<br> inaugurado em 1912
    </ion-card-content>
  </ion-card>

</body>
</ion-content>


